Repository MarjovanLier/StringManipulation: changes, and which pre-commit hooks are due for each by the changed paths.
All: composer-validate, php-lint, php-code-style, phpstan, psalm, phpunit, security-check

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
repos:
  # Local hooks that run in Docker containers
  - repo: local
    hooks:
      - id: composer-validate
        name: Validate composer.json
        entry: docker-compose run --rm test-code-style composer validate --strict
        language: system
        files: composer\.(json|lock)$
        pass_filenames: false

      - id: php-lint
        name: PHP Syntax Check
        entry: docker-compose run --rm test-lint
        language: system
        files: \.php$
        pass_filenames: false

      - id: php-code-style
        name: PHP Code Style (Laravel Pint)
        entry: docker-compose run --rm test-code-style
        language: system
        files: \.php$
        pass_filenames: false

      - id: phpstan
        name: PHPStan Static Analysis
        entry: docker-compose run --rm test-phpstan
        language: system
        files: \.php$
        pass_filenames: false

      - id: psalm
        name: Psalm Static Analysis
        entry: docker-compose run --rm test-psalm
        language: system
        files: \.php$
        pass_filenames: false

      - id: phpunit
        name: PHPUnit Tests
        entry: docker-compose run --rm test-phpunit
        language: system
        files: \.(php|xml)$
        pass_filenames: false
        stages: [commit]

      - id: security-check
        name: Security Vulnerabilities Check
        entry: docker-compose run --rm test-security
        language: system
        files: composer\.lock$
        pass_filenames: false

  # Standard pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: ^vendor/
      - id: end-of-file-fixer
        exclude: ^vendor/
      - id: check-yaml
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-json
      - id: check-xml
      - id: mixed-line-ending
        args: ['--fix=lf']

refactor(quality): Enable all type_perfect no_mixed checks
  phpstan.neon
Due: none

fix(types): Add array type to callback parameter
  psalm-baseline.xml
  psalm.xml
  rector.php
  src/StringManipulation.php
Due: php-lint, php-code-style, phpstan, psalm, phpunit

fix(style): Rename property to camelCase per PHPMD
  phpunit.xml
  src/StringManipulation.php
Due: php-lint, php-code-style, phpstan, psalm, phpunit

refactor(psalm): Remove baseline and exclude tests
  psalm-baseline.xml
  psalm.xml
Due: phpunit

refactor(tests): Convert PHP annotations to attributes
  rector.php
  tests/Unit/IsValidDateTest.php
  tests/Unit/IsValidHourTest.php
  tests/Unit/IsValidMinuteTest.php
  tests/Unit/IsValidSecondTest.php
  tests/Unit/IsValidTimePartTest.php
  tests/Unit/NameFixTest.php
  tests/Unit/RemoveAccentsTest.php
  tests/Unit/SearchWordsTest.php
  tests/Unit/StrReplaceTest.php
  tests/Unit/TrimTest.php
  tests/Unit/Utf8AnsiTest.php
Due: php-lint, php-code-style, phpstan, psalm, phpunit

refactor(tests): Migrate from PHPUnit to Pest framework
  .phan/config.php
  .pre-commit-config.yaml
  composer.json
  phpstan.neon
  tests/Pest.php
  tests/TestCase.php
  tests/Unit/IsValidDateTest.php
  tests/Unit/IsValidHourTest.php
  tests/Unit/IsValidMinuteTest.php
  tests/Unit/IsValidSecondTest.php
  tests/Unit/IsValidTimePartTest.php
  tests/Unit/NameFixTest.php
  tests/Unit/RemoveAccentsTest.php
  tests/Unit/SearchWordsTest.php
  tests/Unit/StrReplaceTest.php
  tests/Unit/TrimTest.php
  tests/Unit/Utf8AnsiTest.php
Due: composer-validate, php-lint, php-code-style, phpstan, psalm, phpunit

chore(tests): Increase mutation score requirement to 90%
  .pre-commit-config.yaml
Due: none

feat(tests): Add Pest coverage and improve mutations
  .gitignore
  .pre-commit-config.yaml
  composer.json
  src/StringManipulation.php
  tests/Unit/IsValidDateTest.php
  tests/Unit/IsValidHourTest.php
  tests/Unit/IsValidMinuteTest.php
  tests/Unit/IsValidSecondTest.php
  tests/Unit/IsValidTimePartTest.php
  tests/Unit/NameFixTest.php
  tests/Unit/RemoveAccentsTest.php
  tests/Unit/SearchWordsTest.php
  tests/Unit/StrReplaceTest.php
  tests/Unit/TrimTest.php
Due: composer-validate, php-lint, php-code-style, phpstan, psalm, phpunit

feat(tests): Improve mutation score with targeted tests
  .pre-commit-config.yaml
  tests/Unit/SearchWordsTest.php
Due: php-lint, php-code-style, phpstan, psalm, phpunit

refactor(tests): Improve mutation score to 86.23%
  src/StringManipulation.php
  tests/Unit/RemoveAccentsTest.php
  tests/Unit/SearchWordsTest.php
Due: php-lint, php-code-style, phpstan, psalm, phpunit

refactor: Remove redundant str_contains check in nameFix
  src/StringManipulation.php
Due: php-lint, php-code-style, phpstan, psalm, phpunit

refactor: Remove redundant str_contains check for mac prefix
  src/StringManipulation.php
Due: php-lint, php-code-style, phpstan, psalm, phpunit

refactor(tests): Address CodeRabbit review findings
  tests/Pest.php
  tests/Unit/IsValidDateTest.php
  tests/Unit/IsValidHourTest.php
  tests/Unit/IsValidMinuteTest.php
  tests/Unit/IsValidSecondTest.php
  tests/Unit/IsValidTimePartTest.php
  tests/Unit/RemoveAccentsTest.php
  tests/Unit/SearchWordsTest.php
  tests/Unit/StrReplaceTest.php
  tests/Unit/TrimTest.php
  tests/Unit/Utf8AnsiTest.php
Due: php-lint, php-code-style, phpstan, psalm, phpunit

refactor(tests): Address additional CodeRabbit findings
  tests/Unit/IsValidDateTest.php
  tests/Unit/SearchWordsTest.php
Due: php-lint, php-code-style, phpstan, psalm, phpunit

chore(ci): Migrate from PHPUnit to Pest
  .github/workflows/codecov.yml
  .github/workflows/php.yml
  CLAUDE.md
  composer.json
Due: composer-validate

chore(tests): Update mutation testing to use Pest
  .github/workflows/php.yml
  CONTRIBUTING.md
  composer.json
  docker-compose.yml
Due: composer-validate

fix(tests): Remove malformed PHPUnit CoversMethod attributes
  tests/Unit/ArrayCombineValidationBugFixTest.php
  tests/Unit/CriticalBugFixIntegrationTest.php
  tests/Unit/NameFixComprehensiveTest.php
  tests/Unit/NameFixEdgeCasesTest.php
  tests/Unit/NameFixNegativeFlowTest.php
  tests/Unit/NameFixSpecialCharactersTest.php
  tests/Unit/UppercaseAccentMappingBugFixTest.php
Due: php-lint, php-code-style, phpstan, psalm, phpunit

fix(tests): Enable Xdebug coverage for Pest mutation testing
  composer.json
  docker-compose.yml
Due: composer-validate

chore: Migrate testing framework from PHPUnit to Pest v4 (#55)
  .coderabbit.yaml
  .editorconfig
  .github/workflows/codecov.yml
  .github/workflows/php.yml
  .gitignore
  .phan/config.php
  .pre-commit-config.yaml
  .yamllint
  CLAUDE.md
  CONTRIBUTING.md
  composer.json
  docker-compose.yml
  infection.json.dist
  phpmd.xml
  phpstan.neon
  phpunit.xml
  psalm.xml
  rector.php
  src/StringManipulation.php
  tests/Pest.php
  tests/TestCase.php
  tests/Unit/ArrayCombineValidationBugFixTest.php
  tests/Unit/CriticalBugFixIntegrationTest.php
  tests/Unit/IsValidDateTest.php
  tests/Unit/IsValidHourTest.php
  tests/Unit/IsValidMinuteTest.php
  tests/Unit/IsValidSecondTest.php
  tests/Unit/IsValidTimePartTest.php
  tests/Unit/NameFixComprehensiveTest.php
  tests/Unit/NameFixEdgeCasesTest.php
  tests/Unit/NameFixNegativeFlowTest.php
  tests/Unit/NameFixSpecialCharactersTest.php
  tests/Unit/NameFixTest.php
  tests/Unit/RemoveAccentsTest.php
  tests/Unit/SearchWordsTest.php
  tests/Unit/StrReplaceTest.php
  tests/Unit/TrimTest.php
  tests/Unit/UppercaseAccentMappingBugFixTest.php
  tests/Unit/Utf8AnsiTest.php
Due: composer-validate, php-lint, php-code-style, phpstan, psalm, phpunit

"Update Claude PR Assistant workflow"
  .github/workflows/claude.yml
Due: none

"Update Claude Code Review workflow"
  .github/workflows/claude-code-review.yml
Due: none

Add Claude Code GitHub Workflow (#56)
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Due: none

docs: Add GitHub Pages documentation site
  .github/workflows/pages.yml
  .gitignore
  docs/Gemfile
  docs/_config.yml
  docs/api-reference.md
  docs/api-reference/is-valid-date.md
  docs/api-reference/name-fix.md
  docs/api-reference/remove-accents.md
  docs/api-reference/search-words.md
  docs/api-reference/str-replace.md
  docs/api-reference/trim.md
  docs/api-reference/utf8-ansi.md
  docs/assets/images/logo.svg
  docs/contributing.md
  docs/examples.md
  docs/getting-started.md
  docs/index.md
  docs/performance.md
Due: none

docs: Add GitHub Pages documentation site (#57)
  .github/workflows/pages.yml
  .gitignore
  docs/Gemfile
  docs/_config.yml
  docs/api-reference.md
  docs/api-reference/is-valid-date.md
  docs/api-reference/name-fix.md
  docs/api-reference/remove-accents.md
  docs/api-reference/search-words.md
  docs/api-reference/str-replace.md
  docs/api-reference/trim.md
  docs/api-reference/utf8-ansi.md
  docs/assets/images/logo.svg
  docs/contributing.md
  docs/examples.md
  docs/getting-started.md
  docs/index.md
  docs/performance.md
Due: none

perf(string-methods): Pre-compute character mappings for O(1) lookup
  composer.json
  src/AccentNormalization.php
  src/StringManipulation.php
  tests/Unit/ArrayCombineValidationBugFixTest.php
  tests/Unit/CriticalBugFixIntegrationTest.php
  tests/Unit/IsValidTimePartTest.php
  tests/Unit/UppercaseAccentMappingBugFixTest.php
Due: composer-validate, php-lint, php-code-style, phpstan, psalm, phpunit

docs(performance): Update for pre-computed constants
  docs/performance.md
Due: none

build(php): Add PHP 8.5 to CI test matrix
  .github/workflows/php.yml
Due: none

build(deps): Remove Psalm for PHP 8.5 compatibility
  .github/workflows/php.yml
  composer.json
Due: composer-validate

fix(ci): Restore Psalm with PHP 8.5 workaround
  .github/workflows/php.yml
  composer.json
Due: composer-validate

build(ci): Remove Psalm from CI and dependencies
  .github/workflows/php.yml
  composer.json
Due: composer-validate

build(ci): Remove Phan from CI and dependencies
  .github/workflows/php.yml
  composer.json
  docker-compose.yml
Due: composer-validate

perf(string-methods): Pre-compute character mappings for O(1) lookup (#58)
  .github/workflows/php.yml
  composer.json
  docker-compose.yml
  docs/performance.md
  src/AccentNormalization.php
  src/StringManipulation.php
  tests/Unit/ArrayCombineValidationBugFixTest.php
  tests/Unit/CriticalBugFixIntegrationTest.php
  tests/Unit/IsValidTimePartTest.php
  tests/Unit/UppercaseAccentMappingBugFixTest.php
Due: composer-validate, php-lint, php-code-style, phpstan, psalm, phpunit

docs(claude-md): Rewrite with architecture and API reference
  CLAUDE.md
Due: none

docs(claude-md): Rewrite with architecture and API reference (#59)
  CLAUDE.md
Due: none

build(php): Raise minimum version to 8.4
  .coderabbit.yaml
  .github/workflows/codecov.yml
  .github/workflows/php.yml
  CLAUDE.md
  CONTRIBUTING.md
  Dockerfile
  README.md
  composer.json
  docs/_config.yml
  docs/contributing.md
  docs/getting-started.md
  docs/index.md
  phpstan.neon
  rector.php
  src/StringManipulation.php
  tests/Benchmark/RemoveAccentsComplexityBenchmark.php
Due: composer-validate, php-lint, php-code-style, phpstan, psalm, phpunit

chore(ci): Remove redundant automated review workflow
  .github/workflows/claude-code-review.yml
Due: none

chore(ci): Remove redundant automated review workflow (#61)
  .github/workflows/claude-code-review.yml
Due: none

build(php): Raise minimum version to 8.4 (#60)
  .coderabbit.yaml
  .github/workflows/codecov.yml
  .github/workflows/php.yml
  CLAUDE.md
  CONTRIBUTING.md
  Dockerfile
  README.md
  composer.json
  docs/_config.yml
  docs/contributing.md
  docs/getting-started.md
  docs/index.md
  phpstan.neon
  rector.php
  src/StringManipulation.php
  tests/Benchmark/RemoveAccentsComplexityBenchmark.php
Due: composer-validate, php-lint, php-code-style, phpstan, psalm, phpunit

test: Observe discarded pure-function call results
  tests/Benchmark/RemoveAccentsBenchmark.php
  tests/Benchmark/StringManipulationBenchmark.php
  tests/Unit/ArrayCombineValidationBugFixTest.php
  tests/Unit/CriticalBugFixIntegrationTest.php
Due: php-lint, php-code-style, phpstan, psalm, phpunit

style(pint): Enforce backslash-prefixed native function calls
  pint.json
  src/StringManipulation.php
  tests/Benchmark/ComprehensiveBenchmark.php
  tests/Benchmark/NameFixBenchmark.php
  tests/Benchmark/RemoveAccentsBenchmark.php
  tests/Benchmark/RemoveAccentsComplexityBenchmark.php
  tests/Benchmark/SearchWordsBenchmark.php
  tests/Benchmark/StringManipulationBenchmark.php
  tests/Unit/ArrayCombineValidationBugFixTest.php
  tests/Unit/CriticalBugFixIntegrationTest.php
  tests/Unit/NameFixComprehensiveTest.php
  tests/Unit/NameFixEdgeCasesTest.php
  tests/Unit/NameFixNegativeFlowTest.php
  tests/Unit/NameFixSpecialCharactersTest.php
  tests/Unit/UppercaseAccentMappingBugFixTest.php
Due: php-lint, php-code-style, phpstan, psalm, phpunit
