Repository MarjovanLier/StringManipulation: changes, and which pre-commit hooks are due for each by the changed paths.
All: composer-validate, php-lint, php-code-style, phpstan, psalm, phpunit, security-check

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
repos:
  # Local hooks that run in Docker containers
  - repo: local
    hooks:
      - id: composer-validate
        name: Validate composer.json
        entry: docker-compose run --rm test-code-style composer validate --strict
        language: system
        files: composer\.(json|lock)$
        pass_filenames: false

      - id: php-lint
        name: PHP Syntax Check
        entry: docker-compose run --rm test-lint
        language: system
        files: \.php$
        pass_filenames: false

      - id: php-code-style
        name: PHP Code Style (Laravel Pint)
        entry: docker-compose run --rm test-code-style
        language: system
        files: \.php$
        pass_filenames: false

      - id: phpstan
        name: PHPStan Static Analysis
        entry: docker-compose run --rm test-phpstan
        language: system
        files: \.php$
        pass_filenames: false

      - id: psalm
        name: Psalm Static Analysis
        entry: docker-compose run --rm test-psalm
        language: system
        files: \.php$
        pass_filenames: false

      - id: phpunit
        name: PHPUnit Tests
        entry: docker-compose run --rm test-phpunit
        language: system
        files: \.(php|xml)$
        pass_filenames: false
        stages: [commit]

      - id: security-check
        name: Security Vulnerabilities Check
        entry: docker-compose run --rm test-security
        language: system
        files: composer\.lock$
        pass_filenames: false

  # Standard pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: ^vendor/
      - id: end-of-file-fixer
        exclude: ^vendor/
      - id: check-yaml
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-json
      - id: check-xml
      - id: mixed-line-ending
        args: ['--fix=lf']

feat(hooks): Implement commitlint for conventional commit validation
  .githooks/commit-msg
  .gitignore
  Dockerfile
  commitlint-docker.sh
  commitlint.config.js
  package.json
  setup-hooks.sh
Due: none

fix(config): Correct Phan configuration and pre-commit setup
  .phan/config.php
  .pre-commit-config.yaml
Due: php-lint, php-code-style, phpstan, psalm, phpunit

perf: optimize string manipulation methods and fix validation bugs
  .pr_agent.toml
  IMPROVEMENTS.md
  LICENSE
  README.md
  docker-compose.yml
  infection.json5
  phpmd.xml
  phpstan.neon
  pint.json
  qodana.sarif.json
  qodana.yaml
  src/StringManipulation.php
  test-runner.sh
  tests/Benchmark/StringManipulationBenchmark.php
  tests/Unit/IsValidTimePartTest.php
  updates.sh
Due: php-lint, php-code-style, phpstan, psalm, phpunit

feat: restore typed class constants with Docker AST support
  .gitignore
  .phan/config.php
  CLAUDE.md
  Dockerfile
  composer.json
  psalm.xml
  qodana.sarif.json
  qodana.yaml
  rector.php
  src/AccentNormalization.php
  src/StringManipulation.php
  src/UnicodeMappings.php
  tests/Benchmark/StringManipulationBenchmark.php
  tests/Unit/IsValidDateTest.php
  tests/Unit/SearchWordsTest.php
  tests/Unit/StrReplaceTest.php
  tests/Unit/TrimTest.php
  tests/Unit/Utf8AnsiTest.php
Due: composer-validate, php-lint, php-code-style, phpstan, psalm, phpunit

fix: correct PHPStan and Psalm type annotations in IsValidTimePartTest
  CLAUDE.md
  tests/Unit/IsValidTimePartTest.php
Due: php-lint, php-code-style, phpstan, psalm, phpunit

docs: update CLAUDE.md with Docker-first testing approach
  CLAUDE.md
Due: none

chore: update development dependencies
  composer.json
Due: composer-validate

feat: configure Codacy to use PER 2.0 coding standard
  .codacy.yaml
  .gitignore
  .php-cs-fixer.php
Due: php-lint, php-code-style, phpstan, psalm, phpunit

fix: improve Codacy configuration to enforce PER 2.0 standard
  .codacy.yaml
  .codacyignore
Due: none

feat: add PHP_CodeSniffer configuration for Codacy
  .codacy.yaml
  phpcs.xml
Due: phpunit

Add Claude PR Assistant workflow
  .github/workflows/claude.yml
Due: none

fix(claude): Update permissions and add security restrictions
  .github/workflows/claude.yml
Due: none

Add Claude Code GitHub Workflow (#46)
  .github/workflows/claude.yml
Due: none

test(unit): Add comprehensive test coverage
  composer.json
  tests/Unit/IsValidDateTest.php
  tests/Unit/IsValidHourTest.php
  tests/Unit/IsValidMinuteTest.php
  tests/Unit/IsValidSecondTest.php
  tests/Unit/IsValidTimePartTest.php
  tests/Unit/NameFixComprehensiveTest.php
  tests/Unit/NameFixEdgeCasesTest.php
  tests/Unit/NameFixNegativeFlowTest.php
  tests/Unit/NameFixSpecialCharactersTest.php
  tests/Unit/RemoveAccentsTest.php
  tests/Unit/SearchWordsTest.php
  tests/Unit/StrReplaceTest.php
  tests/Unit/TrimTest.php
  tests/Unit/Utf8AnsiTest.php
Due: composer-validate, php-lint, php-code-style, phpstan, psalm, phpunit

"Update Claude PR Assistant workflow"
  .github/workflows/claude.yml
Due: none

"Claude Code Review workflow"
  .github/workflows/claude-code-review.yml
Due: none

(Added) Comprehensive test suite enhancement for StringManipulation library
  composer.json
  tests/Unit/IsValidDateTest.php
  tests/Unit/IsValidHourTest.php
  tests/Unit/IsValidMinuteTest.php
  tests/Unit/IsValidSecondTest.php
  tests/Unit/IsValidTimePartTest.php
  tests/Unit/NameFixComprehensiveTest.php
  tests/Unit/NameFixEdgeCasesTest.php
  tests/Unit/NameFixNegativeFlowTest.php
  tests/Unit/NameFixSpecialCharactersTest.php
  tests/Unit/RemoveAccentsTest.php
  tests/Unit/SearchWordsTest.php
  tests/Unit/StrReplaceTest.php
  tests/Unit/TrimTest.php
  tests/Unit/Utf8AnsiTest.php
Due: composer-validate, php-lint, php-code-style, phpstan, psalm, phpunit

Add Claude Code GitHub Workflow (#48)
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Due: none

test(mutation): Add comprehensive logical condition tests
  tests/Unit/NameFixTest.php
  tests/Unit/StrReplaceTest.php
Due: php-lint, php-code-style, phpstan, psalm, phpunit

(Added) Enhance mutation testing coverage with logical condition tests (#49)
  .pr_agent.toml
  tests/Unit/NameFixTest.php
  tests/Unit/StrReplaceTest.php
Due: php-lint, php-code-style, phpstan, psalm, phpunit

feat(performance): Complete O(n) optimization suite
  src/AccentNormalization.php
  src/StringManipulation.php
  tests/Benchmark/ComprehensiveBenchmark.php
  tests/Benchmark/NameFixBenchmark.php
  tests/Benchmark/RemoveAccentsBenchmark.php
  tests/Benchmark/RemoveAccentsComplexityBenchmark.php
  tests/Benchmark/SearchWordsBenchmark.php
Due: php-lint, php-code-style, phpstan, psalm, phpunit

fix(unicode): Fix uppercase accent mapping bug
  src/StringManipulation.php
  tests/Benchmark/ComprehensiveBenchmark.php
  tests/Unit/ArrayCombineValidationBugFixTest.php
  tests/Unit/CriticalBugFixIntegrationTest.php
  tests/Unit/UppercaseAccentMappingBugFixTest.php
Due: php-lint, php-code-style, phpstan, psalm, phpunit

(Changed) Complete O(n) performance optimisation suite with comprehensive benchmarking (#50)
  src/AccentNormalization.php
  src/StringManipulation.php
  tests/Benchmark/ComprehensiveBenchmark.php
  tests/Benchmark/NameFixBenchmark.php
  tests/Benchmark/RemoveAccentsBenchmark.php
  tests/Benchmark/RemoveAccentsComplexityBenchmark.php
  tests/Benchmark/SearchWordsBenchmark.php
  tests/Unit/ArrayCombineValidationBugFixTest.php
  tests/Unit/CriticalBugFixIntegrationTest.php
  tests/Unit/UppercaseAccentMappingBugFixTest.php
Due: php-lint, php-code-style, phpstan, psalm, phpunit

feat(composer): Enhance package metadata and update dependencies
  composer.json
Due: composer-validate

chore(repo): Convert .gitignore to a secure whitelist pattern
  .gitignore
Due: none

docs(readme): Add performance benchmarks and tests
  README.md
Due: none

chore(repo): Remove `.github` directory from .gitignore
  .gitignore
Due: none

fix(gitignore): Correct whitelist pattern for global file denial
  .gitignore
Due: none

feat(qodo): Enable auto approval for quality PRs
  .pr_agent.toml
Due: none

fix(qodo): Correct auto approval configuration structure
  .pr_agent.toml
Due: none

feat(qodo): Enhance config with 2025 best practices
  .pr_agent.toml
Due: none

feat(config): Add language and filtering options
  .pr_agent.toml
Due: none

Enhance repository configuration and documentation (#53)
  .gitignore
  .pr_agent.toml
  README.md
  composer.json
Due: composer-validate

chore(quality): Enhance all quality tool configurations
  .coderabbit.yaml
  .editorconfig
  .github/workflows/php.yml
  .pre-commit-config.yaml
  composer.json
  infection.json.dist
  phpmd.xml
  phpstan.neon
  phpunit.xml
  psalm.xml
  rector.php
Due: composer-validate, php-lint, php-code-style, phpstan, psalm, phpunit

chore(coderabbit): Add YAML document separator at top
  .coderabbit.yaml
Due: none

fix(coderabbit): Remove 6th custom check to meet schema limit
  .coderabbit.yaml
Due: none

chore(yamllint): Fix line length violations in CodeRabbit config
  .coderabbit.yaml
  .yamllint
Due: none

refactor(config): Improve wording in CodeRabbit configuration
  .coderabbit.yaml
Due: none

feat(quality): Add type-perfect and type-coverage
  composer.json
  phpstan.neon
Due: composer-validate
